/* mulish font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
/* shared styles */


*{
    font-family: 'Mulish', sans-serif;
}
.btn-primary Find Now{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
background: #FF5400;
padding: 20px 25px;

}
/* header styles */
header{
    background: #FFF;
    padding: 50px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
    font-weight: 400;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
}
/* banner styles */
.banner-content{
    max-width: 100px;
    text-align: center;
    margin: 50px 50px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* places styles */
.place-container{
    display: flex;
    align-items: center;
}
.place-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.place-content{
    padding-bottom: 48px;
    
}
.place-title{
    color: #131318;

text-align: center;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.place-description{
    color: rgba(19, 19, 24, 0.70);
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}